/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap'); */

:root {
    --text-main-color: #212121;
    --text-color: #757575;
    --text-invert-color: #FFFFFF;
    --no-text-link-color: #AFB1B8;
    --background-main-color: #FFFFFF;
    --background-second-color: #F5F4FA;
    --background-invert-color: #2F303A;
    --active-main-color: #2196F3;
    --logo-one-color: #2196F3;
    --logo-two-color: #000000;
    --logo-two-invert-color: #FFFFFF;
}

body {
    font-family: 'Roboto', 'Verdana', 'Tahoma', sans-serif;
    background-color: var(--background-main-color);
    color: var(--text-main-color);
}

ul {
    list-style: none;
}

img {
    display: block;
}

h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--logo-two-color);
}

.logo span {
    color: var(--logo-one-color);
}

header {
    border-bottom: 1px solid #ECECEC;
}

.main-header {
    display: flex;
    align-items: center;
    /* height: 80px; */
}

.navigation {
    margin-left: 93px;
}

.header-nav {
    display: flex;
}

.header-inf {
    display: flex;
    margin-left: auto;
}

.header-inf .link {
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.header-inf .icon {
    margin-right: 10px;
    fill: currentColor;
}

.header-nav .item:not(:last-child),
.header-inf .item:not(:last-child) {
    margin-right: 50px;
}

.header-nav .link,
.header-inf .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.button {
    cursor: pointer;
    font-family: inherit;
    color: inherit;
    border: 0;
    border-radius: 4px;
}

.hero .button {
    color: var(--text-invert-color);
    background-color: var(--active-main-color);
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 30px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    
    box-shadow: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .button-submit:hover,
.modal .button-submit:focus,
.subscribe .button:hover,
.subscribe .button:focus,
.hero .button:hover,
.hero .button:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-invert-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url("../images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.hero .text-h1 {
    color: var(--text-invert-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.text-h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.text-h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.our-doing .text-h3,
.our-features .text-h3 {
    text-transform: uppercase;
}

.our-team {
    background-color: var(--background-second-color);
}

.our-team .item{
    width: 270px;
    text-align: center;

    background-color: var(--background-main-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team .text-h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.our-team .text {
    font-size: 16px;
    line-height: 1.18;
}

.our-features {
    padding-bottom: 0;
}

.our-features .list {
    display: flex;
}

.our-doing .item {
    position: relative;
}

.our-doing .text-h3 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
    color: var(--text-invert-color);
    background-color: rgba(47, 48, 58, 0.8);
}

.our-doing .list,
.our-team .list,
.our-clients .list {
    display: flex;
    margin-top: 50px;
}

.our-features .item:not(:last-child),
.our-doing .item:not(:last-child),
.our-team .item:not(:last-child),
.our-clients .item:not(:last-child) {
    margin-right: 30px;
}

.our-features .text,
.our-team .text {
    margin-top: 10px;
}

.our-features-icon {
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;

    background-color: var(--background-second-color);
    border-radius: 4px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
}

.our-team .sub-item {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.our-team .social-list {
    margin-top: 16px;
}

.our-team .link {
    fill: var(--no-text-link-color);
}

/* Постоянные клиенты */

.our-clients .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    fill: var(--no-text-link-color);
    border: 1px solid var(--no-text-link-color);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients .link:hover,
.our-clients .link:focus {
    fill: var(--active-main-color);
    border: 1px solid var(--active-main-color);
}

/* Портфолио */

.filters .button {
    background-color: var(--background-second-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;

    box-shadow: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters .item:not(:last-child) {
    margin-right: 8px;
}

.filters .button:hover,
.filters .button:focus {
    background-color: var(--active-main-color);
    color: var(--text-invert-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.our-portfolio .text-h3 {
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.our-portfolio .link:hover,
.our-portfolio .link:focus {
    color: var(--text-main-color);
}

.our-portfolio .text {
    font-size: 16px;
    line-height: 1.88;
}

.filters {
    display: flex;
    justify-content: center;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.portfolio-list .item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-list .item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-list .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.portfolio-list .sub-item {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.portfolio-list .text {
    margin-top: 4px;
}

.portfolio-list .link{
    display: block;
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .link:hover,
.portfolio-list .link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list .thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-list .link:hover .label,
.portfolio-list .link:focus .label {
    transform: translateY(-100%);
}

.portfolio-list .label {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    background-color: rgba(33, 150, 243, 0.9);
    color: var(--text-invert-color);

    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Общее */
.footer {
    background-color: var(--background-invert-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .logo {
    color: var(--logo-two-invert-color);
}

.footer .link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .text {
    color: var(--text-invert-color);
    font-style: normal;
}

.footer address {
    margin-top: 20px;
}

.footer .item:not(:last-child) {
    margin-bottom: 9px;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer-social {
    margin-left: 70px;
}

.footer-subscribe .text-h3,
.footer-social .text-h3 {
    text-transform: uppercase;
    color: var(--text-invert-color);
}

.footer-social .social-list {
    margin-top: 20px;
}

.footer-social .link {
    fill: var(--text-invert-color);
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list {
    display: flex;
}

.social-item:not(:last-child) {
    margin-right: 10px;
}

.social-list .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list .link:hover,
.social-list .link:focus {
    fill: var(--text-invert-color);
    background-color: var(--active-main-color);
}

.footer-subscribe {
    margin-left: 93px;
}

.subscribe {
    display: flex;
    margin-top: 20px;
}

.subscribe .icon {
    margin-left: 10px;
}

.footer-subscribe input {
    height: 50px;
    width: 358px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;    
    
    color: var(--text-invert-color);
    background-color: transparent;
    
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe input:hover,
.footer-subscribe input:focus {
    border-color: var(--active-main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-subscribe input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe .button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 50px;
    width: 200px;
    margin-left: 12px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;   
    letter-spacing: 0.06em;
    
    fill: var(--text-invert-color);
    color: var(--text-invert-color);
    background-color: var(--active-main-color);

    box-shadow: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
    color: var(--text-main-color);
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--active-main-color);
}

.link-current {
    position: relative;
    color: var(--active-main-color);
}

.link-current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border: 2px solid var(--active-main-color);
    border-radius: 2px;
}

.backdrop .button-close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 8px;
    padding: 5px;
    font-size: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    fill: #000000;
    background-color: var(--background-main-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .button-close:hover,
.backdrop .button-close:focus {
    fill: var(--active-main-color);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* visibility: visible; */
/* visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); */
/* visibility: hidden; */

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 581px;
    min-width: 528px;
    
    background-color: var(--background-main-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .form {
    padding: 40px;
}

.modal .text-h2 {
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 12px;
}

.modal .item:not(:last-child) {
    padding-bottom: 4px;
}

.modal span {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);
}

.modal .form-field {
    display: block;
    position: relative;
    padding-top: 18px;
}

.modal .form-label {
    position: absolute;
    top: 0;
    left: 0;
}

.form-field .icon {
    position: absolute;
    bottom: 0;
    left: 12px;
    transform: translateY(-50%);
}

.form-field textarea {
    height: 120px;
    resize: none;
    padding: 12px 16px;
}

.modal textarea::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal .form-input {
    width: 100%;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field.pic .form-input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 42px;
    padding-right: 16px;
}

.modal .form-field .icon {
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .form-input:active ~ .icon,
.modal .form-input:hover ~ .icon,
.modal .form-input:focus ~ .icon {
    fill: var(--active-main-color);
}

.modal .form-input:active,
.modal .form-input:hover,
.modal .form-input:focus {
    border-color: var(--active-main-color);
}

.modal .policy {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 20px;
    padding-left: 12px;
}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.checkbox:checked ~ .icon {
    background-color: var(--active-main-color);
    border-color: var(--active-main-color);
}

.checkbox:active ~ .icon,
.checkbox:hover ~ .icon,
.checkbox:focus ~ .icon {
    border-color: var(--active-main-color);
}

.checkbox ~ .icon {
    position: absolute;
    left: 12px;
    fill: var(--text-invert-color);
    background-color: var(--background-main-color);
    border: 2px solid var(--text-main-color);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .agreement {
    padding-left: 24px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.modal .link-agreement {
    color: var(--active-main-color);
}

.modal .button-submit {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 200px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--text-invert-color);
    background-color: var(--active-main-color);

    /* box-shadow: none; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
